
<h1>Добро пожаловать!</h1>

<div>
  <p>Данный справочник позволяет:</p>
  <ul>
    <li>Просматривать принтеры и картриджи</li>
    <li>Узнать какой картридж нужен для определенной модели принтера</li>
    <li>Редактировать список картриджей и принтеров</li>
  </ul>
</div>

<!-- TODO: сделать дерево принтеров->картриджей -->
